body {
  margin: 0;
  background-color: rgb(27, 107, 107);
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

h1 {
  color: white;
  text-align: center;
}

h1:hover {
  cursor: pointer;
}
